<a href="https://colab.research.google.com/github/tohnperfect/data_viz_2022/blob/main/Random.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [9]:
np.random.randint(1000) % 21

9

In [37]:
def random_group(id):
    id = id.replace('-','')
    id = int(id)
    group = id % 22
    return group

In [11]:
random_group('613020038-0')

7

In [12]:
import pandas as pd

In [17]:
id_pd = pd.read_csv('/content/id')
id_pd

             ID
0   613020038-0
1   613020566-5
2   613020610-8
3   613020615-8
4   623020031-5
..          ...
69  623021052-2
70  623021054-8
71  623021055-6
72  623021058-0
73  603021840-5

[74 rows x 1 columns]

In [18]:
!pip install random-word

Collecting random-word
  Downloading Random_Word-1.0.7-py3-none-any.whl (8.0 kB)
Collecting nose
  Downloading nose-1.3.7-py3-none-any.whl (154 kB)
     |████████████████████████████████| 154 kB 5.0 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from random-word) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->random-word) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->random-word) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->random-word) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->random-word) (3.0.4)
Installing collected packages: nose, random-word
Successfully installed nose-1.3.7 random-word-1.0.7

In [19]:
from random_word import RandomWords

In [20]:
r = RandomWords()

In [24]:
r.get_random_word()

'tyrosines'

In [59]:
groups = [[],[],[],[],[],[],[],[],[],[],
         [],[],[],[],[],[],[],[],[],[],
         [],[]]
leftover = []
for id in id_pd['ID']:
    groupid = random_group(id)
    if len(groups[groupid]) < 3:
        groups[groupid].append(id)
    else:
        leftover.append(id)

In [60]:
groups

[['623020545-4', '623021051-4', '623021058-0'],
 ['613020566-5', '623020532-3', '623020732-5'],
 ['623020541-2'],
 ['623020455-5', '623021007-7'],
 ['613020610-8', '623020042-0', '623020449-0'],
 ['623020451-3', '623020519-5', '623021040-9'],
 ['623020521-8', '623020528-4', '623020543-8'],
 ['623020515-3', '623021043-3'],
 ['623020761-8', '623021052-2'],
 ['623020031-5', '623020453-9', '623020511-1'],
 ['613020615-8', '623020520-0', '623020542-0'],
 ['623020434-3', '623020517-9', '623020539-9'],
 ['623020526-8', '623020760-0', '623021010-8'],
 ['623020513-7', '623020535-7', '623020735-9'],
 ['623020544-6', '623021050-6'],
 ['623020516-1', '623020731-7', '623021000-1'],
 ['623020525-0', '623020540-4', '623020547-0'],
 ['623021006-9'],
 ['613020038-0', '623020041-2', '623020765-0'],
 ['623020435-1', '623020518-7', '623021002-7'],
 ['623020527-6', '623021055-6'],
 ['623020514-5', '623020536-5', '623021005-1']]

In [61]:
leftover

['623020762-6',
 '623020764-2',
 '623020995-3',
 '623020999-5',
 '623021001-9',
 '623021008-5',
 '623021009-3',
 '623021041-7',
 '623021042-5',
 '623021044-1',
 '623021045-9',
 '623021046-7',
 '623021047-5',
 '623021048-3',
 '623021049-1',
 '623021054-8',
 '603021840-5']

In [62]:
for g in groups:
    if len(g) < 2:
        g.append(leftover.pop())

In [63]:
groups

[['623020545-4', '623021051-4', '623021058-0'],
 ['613020566-5', '623020532-3', '623020732-5'],
 ['623020541-2', '603021840-5'],
 ['623020455-5', '623021007-7'],
 ['613020610-8', '623020042-0', '623020449-0'],
 ['623020451-3', '623020519-5', '623021040-9'],
 ['623020521-8', '623020528-4', '623020543-8'],
 ['623020515-3', '623021043-3'],
 ['623020761-8', '623021052-2'],
 ['623020031-5', '623020453-9', '623020511-1'],
 ['613020615-8', '623020520-0', '623020542-0'],
 ['623020434-3', '623020517-9', '623020539-9'],
 ['623020526-8', '623020760-0', '623021010-8'],
 ['623020513-7', '623020535-7', '623020735-9'],
 ['623020544-6', '623021050-6'],
 ['623020516-1', '623020731-7', '623021000-1'],
 ['623020525-0', '623020540-4', '623020547-0'],
 ['623021006-9', '623021054-8'],
 ['613020038-0', '623020041-2', '623020765-0'],
 ['623020435-1', '623020518-7', '623021002-7'],
 ['623020527-6', '623021055-6'],
 ['623020514-5', '623020536-5', '623021005-1']]

In [64]:
leftover

['623020762-6',
 '623020764-2',
 '623020995-3',
 '623020999-5',
 '623021001-9',
 '623021008-5',
 '623021009-3',
 '623021041-7',
 '623021042-5',
 '623021044-1',
 '623021045-9',
 '623021046-7',
 '623021047-5',
 '623021048-3',
 '623021049-1']

In [65]:
for g in groups:
    if len(g) < 3:
        g.append(leftover.pop())

In [66]:
groups

[['623020545-4', '623021051-4', '623021058-0'],
 ['613020566-5', '623020532-3', '623020732-5'],
 ['623020541-2', '603021840-5', '623021049-1'],
 ['623020455-5', '623021007-7', '623021048-3'],
 ['613020610-8', '623020042-0', '623020449-0'],
 ['623020451-3', '623020519-5', '623021040-9'],
 ['623020521-8', '623020528-4', '623020543-8'],
 ['623020515-3', '623021043-3', '623021047-5'],
 ['623020761-8', '623021052-2', '623021046-7'],
 ['623020031-5', '623020453-9', '623020511-1'],
 ['613020615-8', '623020520-0', '623020542-0'],
 ['623020434-3', '623020517-9', '623020539-9'],
 ['623020526-8', '623020760-0', '623021010-8'],
 ['623020513-7', '623020535-7', '623020735-9'],
 ['623020544-6', '623021050-6', '623021045-9'],
 ['623020516-1', '623020731-7', '623021000-1'],
 ['623020525-0', '623020540-4', '623020547-0'],
 ['623021006-9', '623021054-8', '623021044-1'],
 ['613020038-0', '623020041-2', '623020765-0'],
 ['623020435-1', '623020518-7', '623021002-7'],
 ['623020527-6', '623021055-6', '623021042-5'],
 ['623020514-5', '623020536-5', '623021005-1']]

In [67]:
leftover

['623020762-6',
 '623020764-2',
 '623020995-3',
 '623020999-5',
 '623021001-9',
 '623021008-5',
 '623021009-3',
 '623021041-7']

In [68]:
for id in leftover:
    groups[np.random.randint(22)].append(id)

In [70]:
groups

[['623020545-4', '623021051-4', '623021058-0'],
 ['613020566-5', '623020532-3', '623020732-5'],
 ['623020541-2', '603021840-5', '623021049-1', '623021009-3'],
 ['623020455-5', '623021007-7', '623021048-3', '623020762-6'],
 ['613020610-8', '623020042-0', '623020449-0'],
 ['623020451-3', '623020519-5', '623021040-9'],
 ['623020521-8', '623020528-4', '623020543-8'],
 ['623020515-3', '623021043-3', '623021047-5'],
 ['623020761-8', '623021052-2', '623021046-7'],
 ['623020031-5', '623020453-9', '623020511-1'],
 ['613020615-8', '623020520-0', '623020542-0', '623020999-5'],
 ['623020434-3', '623020517-9', '623020539-9', '623020995-3'],
 ['623020526-8', '623020760-0', '623021010-8'],
 ['623020513-7', '623020535-7', '623020735-9'],
 ['623020544-6', '623021050-6', '623021045-9', '623020764-2'],
 ['623020516-1', '623020731-7', '623021000-1', '623021008-5'],
 ['623020525-0', '623020540-4', '623020547-0'],
 ['623021006-9', '623021054-8', '623021044-1', '623021041-7'],
 ['613020038-0', '623020041-2', '623020765-0'],
 ['623020435-1', '623020518-7', '623021002-7'],
 ['623020527-6', '623021055-6', '623021042-5'],
 ['623020514-5', '623020536-5', '623021005-1', '623021001-9']]

In [76]:
gname = r.get_random_words(limit=22)
gname

['cloistered',
 'nyctalopia',
 'fustet',
 'pioned',
 'unconscious',
 'zooplankton',
 'omicrons',
 'tricorns',
 'labetalol',
 'unprobed',
 'triturate',
 'cleme',
 'counselor',
 'uncrated',
 'intracellularly',
 'fatefulness',
 'kibbutzes',
 'civilises',
 'alphabetical',
 'emulate',
 'laughing-hyena',
 'fundi']

In [78]:
groupname = list()
for id in id_pd['ID']:
    for idg in range(len(groups)):
        if id in groups[idg]:
            groupname.append(gname[idg])

In [79]:
id_pd

             ID
0   613020038-0
1   613020566-5
2   613020610-8
3   613020615-8
4   623020031-5
..          ...
69  623021052-2
70  623021054-8
71  623021055-6
72  623021058-0
73  603021840-5

[74 rows x 1 columns]

In [80]:
id_pd['group_name'] = groupname

In [81]:
id_pd

             ID      group_name
0   613020038-0    alphabetical
1   613020566-5      nyctalopia
2   613020610-8     unconscious
3   613020615-8       triturate
4   623020031-5        unprobed
..          ...             ...
69  623021052-2       labetalol
70  623021054-8       civilises
71  623021055-6  laughing-hyena
72  623021058-0      cloistered
73  603021840-5          fustet

[74 rows x 2 columns]

In [84]:
id_pd['group_name'].to_csv('gname.csv',index=False)

In [88]:
pd.DataFrame(gname).to_csv('groups.csv',index=False)